/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #087f5b
GREY COLOR : #343a40 
ACCENT COLOR : 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}

.container {
  margin-top: 64px;
  width: 1124px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 80px;
  margin-top: 56px;
}

h2 {
  margin-bottom: 48px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small,
#small {
  font-size: 14px;
  padding: 8px 16px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
}

.header-shadow {
  align-self: center;
  /* text-shadow: 0 5px 5px rgba(0, 0, 0, 0.101); */
}

h1 {
  font-size: 44px;
  /* 44 / 52 / 62 */
  margin-bottom: 32px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.header-text {
  margin-bottom: 32px;
}

img {
  width: 100%;
  border-radius: 12px;
}

/* FEATURES */
.features-icon {
  stroke: #087f5b;
  height: 32px;
  width: 32px;
  stroke-width: 2px;
  margin-bottom: 24px;
}

.features-title {
  margin-bottom: 16px;
}

.features-text {
  margin: 0;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
}

.testimonial-text {
  color: #e6fcf5;
  font-style: italic;
  margin-bottom: 24px;
}

.testimonial-author {
  color: #c3fae8;
}

/* CHAIRS */

.chair {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  padding: 32px;
}

h3 {
  margin-bottom: 24px;
}

.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #087f5b;
  /* fill:#343a40 */
  height: 24px;
  width: 24px;
  stroke-width: 2px;
}

.chair-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin-bottom: 48px;
}

/* 
------------------- Buy Latest Chairs Page -------------------
*/

/* .menu { 
  margin: 0;
  padding: 0;
}*/

/* Navigation Buttons */

.home-button:visited,
.home-button:link {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 40px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  border-radius: 100px;
  padding: 12px 18px;
  margin-left: 12px;
  margin-top: 20px;
}

.home-button:hover {
  background-color: #099268;
}

.home-icon {
  stroke: #e6fcf5;
  height: 16px;
  width: 16px;
  stroke-width: 2.5px;
}

/* Carousel section */

.carousel {
  width: 800px;
  background-color: #087f5b;
  margin: 100px auto;
  padding: 32px 48px 32px 86px;
  /* padding: top right bottom left (clockwise) */

  border-radius: 8px;
  color: #fff;

  position: relative;

  display: flex;
  align-items: center;
  gap: 86px;
}

.carousel-img {
  height: 200px;
  transform: scale(1.5);
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.carousel-btn {
  /* left: 0;
  top: 50%; */
  background-color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;

  border-radius: 50%;
  border: #087f5b;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

.btn--left {
  left: 0;
  top: 50%;

  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;

  transform: translate(50%, -50%);
}

.carousel-icon {
  stroke: #087f5b;
  height: 24px;
  width: 24px;
  stroke-width: 2.5px;
}

.testimonial {}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 32px;
}

.testimonial-author {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #c3fae8;
}

.testimonial-job {
  font-size: 14px;
  color: #c3fae8;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  cursor: pointer;

  background-color: #fff;
  border: #087f5b 2px solid;
  border-radius: 50%;
}

.dot--first {
  background-color: #087f5b;
}

/* Banner Section */

.text-banner {
  background-color: #087f5b;
  color: #e6fcf5;
  font-size: xx-large;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
}

/* Product section */

.product-list {
  padding-left: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 500px;
  column-gap: 24px;
  row-gap: 24px;
  align-items: center;
  align-content: center;
  border-radius: 12px;
}

.product-list li {
  list-style: none;
}

.product-name {
  color: #343a40;
  font-weight: bold;
  margin-bottom: 0px;
}

.chair-images {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  border-bottom: 10px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.12);
}

.price-info {
  margin-top: 16px;
  /* display: inline; 
  align-items: stretch;*/
}

.cart-button:link,
.cart-button:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  padding: 8px 16px;
  margin-left: 12px;
}

.cart-button:hover {
  background-color: #099268;
}

.cart-icon {
  stroke: #e6fcf5;
  height: 16px;
  width: 16px;
  stroke-width: 2.5px;
}

/* Pagination section */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pageno {
  height: 34px;
  width: 34px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #087f5b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageno:hover,
.pageno:active,
.pageno.pageno--current {
  background-color: #087f5b;
  color: #fff;
  cursor: pointer;
}

.page-btn {
  border: 1px solid #087f5b;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  margin: 0 5px;
  background: none;
  cursor: pointer;
  margin: 4px;
}

.page-btn:hover,
.page-btn:active {
  background-color: #087f5b;
}

.page-btn:visited {
  color: rgb(60, 18, 84)
}

.page-icon {
  padding: 3px 5px;
  stroke: #087f5b;
  stroke-width: 2.5px;
}

.page-icon:hover {
  stroke: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* 
----------------------- FAQs Page -------------------------
*/

.faq {
  margin-bottom: 0;
}

.accordion {
  width: 700px;
  margin: 100px auto;
}

.active-item {
  border-top: #087f5b 4px solid;
  margin-bottom: 30px;
  padding: 24px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 16px;
  row-gap: 24px;
}

.inactive-item {
  margin-bottom: 30px;
  padding: 24px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 16px;
  row-gap: 24px;
}

.inactive-item .text,
.inactive-item svg {
  color: #495057;
  stroke: #495057;
}

.inactive-item .number {
  color: #ced4da;
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  color: #087f5b;
}

.icon {
  stroke: #087f5b;
  height: 24px;
  width: 24px;
  stroke-width: 2.5px;
}

.hidden-box {
  grid-column: 2;
}

.hidden-box p {
  line-height: 1.6;
  color: #343a40;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}